/* GRID SYSTEM - CSS */

/* Grid System: Settings */
.grid-settings {
    position: fixed; 
    width: 200px;
    top: 80px;
    right: 20px; 
    z-index: 9999; 
  }
  
  /* Grid System: Grids */
  .grid-system {
    text-align: center;
    position: fixed;
    right: 0;
    left: 0; 
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    z-index: 1;
    visibility: visible;
  }
  .grid-system div[class^="col-"] {
      border-left: 1px dotted rgba(0, 0, 0, 0.2);
      height: 100vh;
  }
  .grid-system div[class^="col-"]:last-child {
      border-right: 1px dotted rgba(0, 0, 0, 0.2);
  }
  .grid-system .col-div {
      background-color: rgba(0, 0, 0, 0.025);
      border: none !important; 
      padding-top: 15px; 
      color: rgba(0, 0, 0, 0.3);
  }
  
  /* Grid System: Light Theme */
  .grid-system.light .col-div { 
    background-color: rgba(255, 255, 255, 0.025); 
    color: rgba(255, 255, 255, 0.3);
  }
  .grid-system.light div[class^="col-"], 
  .grid-system.light div[class^="col-"]:last-child { 
    border-color: rgba(255, 255, 255, 0.2);
  }
  
  /* FOR DEMO PURPOSES ONLY: */
  .bg-dark h1, 
  .bg-dark h2 {
    color: #fff;
  }
  .bg-dark p {
    color: rgba(255, 255, 255, .5);
  }
  .grid-settings .card-body p {
    color: #212529;;
  }


  
  
  .dm-service-banner{
    background: #ebf9f9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0;
    position: relative;
}
.dm-banner-title{
    text-align: right;
    padding: 57px 0px;
}
.dm-banner-title .back-box{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 77%;
    /* background: #fff; */
    box-shadow: 0px 0px 5px 0px #ddd;
    background: url('https://www.hummingwebians.com/public/images/dm-small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.dm-right-corner{
    width: 149px;
    height: 86px;
    background: #67d092;
    position: absolute;
    top: 0px;
    right: 0px;
}
.dm-banner-title .front-text-box{
    position: relative;
    z-index: 1;
}
.dm-banner-title h1 {
    font-size: 57px;
    font-weight: 400;
    letter-spacing: 4px;
    border-bottom: 1px solid #5b945b;
    padding-bottom: 14px;
    text-shadow: 3px 3px 1px #d4d1d1;
    color: #0e4e6d;
}
.dm-banner-text{
    padding: 107px 0px;
    font-size: 15px;
    font-weight: 450;
    color: #34945c;
}

