<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <h1>Why trees are important?</h1>
</head>

<body>
  <h2>Trees are vital</h2>
<p>As the biggest plants on the planet, they give us oxygen, store carbon, stabilise the soil and give life to the world’s wildlife. They also provide us with the materials for tools and shelter. Not only are trees essential for life, but as the longest living species on earth, they give us a link between the past, present and future.
    It’s critical that woodlands, rainforests and trees in urban settings, such as parks, are preserved and sustainably managed across the world. Play your part and donate to The Royal Parks today to help us manage these vital trees in London's Royal Parks.
    </p>
<h2>Trees benefit health</h2>

<p>The canopies of trees act as a physical filter, trapping dust and absorbing pollutants from the air. Each individual tree removes up to 1.7 kilos every year. They also provide shade from solar radiation and reduce noise.
    Over 20 species of British trees and shrubs are known to have medicinal properties. The oil from birch bark, for example, has antiseptic properties.
    Research shows that within minutes of being surrounded by trees and green space, your blood pressure drops, your heart rate slows and your stress levels come down.</p>




<h2>Trees benefit the environment</h2>
<p>Trees absorb carbon dioxide as they grow and the carbon that they store in their wood helps slow the rate of global warming. They reduce wind speeds and cool the air as they lose moisture and reflect heat upwards from their leaves. It’s estimated that trees can reduce the temperature in a city by up to 7°C. Trees also help prevent flooding and soil erosion, absorbing thousands of litres of stormwater.</p>
<h2>Trees protect the future</h2>
<p>Soon, for the first time in history, the number of people with homes in cities will outstrip those living in the countryside. Parks and trees will become an even more vital component of urban life. We must respect them and protect them for the future.</p>

</body>
<aside>
    <img src="" alt="">
</aside>


</html>
